<h3>親愛的資助者您好！遠山呼喚的資助平台2月開始正式啟用！</h3>
<p>
  平台的使用是為了資助人而設計的，請您完成收到信後，登入平台查看您的基本資料，並且修改密碼，我們即能進行孩童資料的上傳配對。<br>
  而您在未來只要登入平台，便能立即看到資助孩童的近況，以及每個月金流傳遞的實際情形，未來陪伴孩子的上學路，您都將能透過平台陪伴孩子走過他的夢想之路。
</p>

<p>網站連結：<a href="http://www.callsoverridges.com/">http://www.callsoverridges.com/</a></p>

<hr>

<h4>登入步驟：</h4>

<p>1. 右上角「資助人登入」登入平台</p>
<p>
｜您的帳號：<%= @user.email %><br>
｜預設密碼：12345678
</p>
<p>2. 進入資助人基本資料頁</p>
<p>3. 修改您的密碼，完成資助人身份認證</p>

<p>*若您有操作上的疑問，歡迎您隨時<a href='mailto:callsoverridges@gmail.com'>來信</a>與我們聯繫</p>
