<div class="login">
	<h3>親愛的資助者您好！遠山呼喚的資助平台開始正式啟用！</h3>

	<p>非常感謝您成為遠山呼喚的資助人，今年4月起「遠山資助平台」將正式啟用，這是一個創新貧童資助平台，每一位資助人都有一個與孩子的專屬頁面，您能在平台中隨時了解孩童近況。未來我們也將透過平台為您傳遞尼泊爾相關資訊及您對孩子的留言。</p>

	<h4>｜平台重要性｜</h4>
	<p>此平台專為資助人開發設計，從四月起平台將是<b><%= @user.children.map { |c| c.name }.join("、").presence || '孩童' %></b>、遠山呼喚團隊與您聯繫的主要媒介，因此每一位資助人都須點選下面網址「開啟」平台喔！</p>

	<h4>｜馬上開啟平台，連結孩子吧！｜</h4>
	<p>現在只需要請您完成以下步驟，來啟用專屬平台。只要有手機與網路，您就能隨時登入知道孩子的狀況，讓您可以輕鬆掌握並追蹤每月的成長與學習情況！平台更提供資助金的透明化服務，除了清楚繳款，也能接收到每月的資助金發放實況更新！</p>

	<h4>｜請您務必要在 4/8 前完成登入動作｜</h4>
	<p>4/8 後團隊將會針對平台使用進行網路/電話訪談，協助資助者完成平台使用</p>

	<b>觀看教學影片：</b><a href="https://youtu.be/hcSfnplGv2U">https://youtu.be/hcSfnplGv2U</a>

	<h4>登入步驟：</h4>
	<p>點此進入網站：<a href="https://www.callsoverridges.com">https://www.callsoverridges.com</a></p>

	<b>1. 點選「資助人登入」</b>

	<p>｜您的帳號：<%= @user.email %><br>｜預設密碼：12345678</p>

	<p>2. 進入資助人基本資料頁</p>
	<p>3. 修改您的密碼，完成資助人身份認證</p>
	<p>4. 再次登入，開始資助之旅！</p>


	<b>如果您有相關操作上的疑問，歡迎您隨時<a href='mailto:callsoverridges@gmail.com'>來信</a>與我們聯繫</b>
</div>
