<div class="col-sm-12 col-md-2 col-post-grid">
	<%= image_tag post_grid.cover.url, class: 'tag-post-pic' %>
	<h4> <%= post_grid.title %> </h4>
	<span><%= post_grid.tags.first.try(:name_zh) || '背包客志工' %> | <%= post_grid.publish_date.try(:to_date) || Date.today %></span>
</div>