<!-- TODO 把預設都拿掉 -->
<div class="row margins small-post-height">
	<div class="col-lg-5">
		<%= image_tag small_post.cover.url || asset_path('lab_logo.png') %>
	</div>
	<div class="col-lg-7">
		<span><%= small_post.title || '夢想實驗室建構中' %></span>
	</div>
	<div class="col-lg-7">
		<span><%= small_post.tags.first || '背包客志工' %> | <%= small_post.publish_date.try(:to_date) || Date.today %></span>
	</div>
</div>
