<div class="col-sm-12 col-md-2">

	<%= image_tag tag_post.cover.url, class: 'tag-post-pic' %>
	<h4> <%= tag_post.title %> </h4>
	<span><%= tag_post.tags.first.try(:name_zh) || '背包客志工' %> | <%= tag_post.publish_date.try(:to_date) || Date.today %></span>
</div>