<section class="section">
  <div class="wrap">
    <div class="about">
      <div class="aboutUs h1 fBold">核心理念</div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="clearfix">
            <div class="about__title h1 fBold">核心理念—長期陪伴</div>
          </div>
          <div class="about__content">
            <p>
              我們曾經參與過各地短期服務，回國投入生活之後，我們才發現短期志工並未帶來實質改變，孩子需要更長期而且貼近需求的幫助！心中力不從心的感受使我們開始思考，什麼樣的模式才能跳脫國際志工並改變體驗式服務的現狀，為孩子帶來他們渴望的未來？
            </p>
            <p>
              2015年4月，遠山呼喚團隊因此集結在一起，開始用行動回應心中的重重疑慮。而就在當時，一場大地震的來襲，竟牽引著我們走入千里之外的尼泊爾震央，沒想到當時災後食衣住行的短期需求，竟讓志工短暫停留的景象再一次重演，最終大家再次離去，根本的問題並未獲得改善。
            </p>
            <p>
              我們決定長期陪伴這個破碎的震央，帶孩子尋找邁向未來的契機。
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--1"></div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__photo about__photo--2"></div>
        </div>
        <div class="col s12 m7 ">
          <div class="clearfix">
            <div class="about__title h1 fBold">停留災區兩年，探索學習核心</div>
          </div>
          <div class="about__content">
            <p>
              兩年之內，我們一面協助孩子重返學校，一面追蹤超過百位孩子的成長軌跡，並且針對孩童家庭、學校以及未來將接觸到的關係人進行大規模的深度訪談。當傾聽重返學校的孩子在學習時的挫折，我們發現學習的關鍵不在於給予孩子學費上學，而是改變孩童周圍的教育環境。
            </p>
            <p>
              與其短時間提升孩子的就學能力，不如長期降低整體學習門檻，為孩子克服未來的求學阻礙。
            </p>
            <p>
              我們跳脫單一專案的服務思維，開始嘗試系統性的改善整體學習環境，並且獲得許多正面的效果，「學習生態系」也因此萌芽並成長至今。現在，我們將帶著成功的經驗，幫助更多國家的貧童改善教育環境。
            </p>
          </div>
        </div>
      </div>
      <div class="row educational-funds">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="clearfix">
            <div class="about__title h1 fBold">學習生態系介紹—教育資金<br>Educational Funds</div>
          </div>
          <div class="about__content">
            <p>
              學費是孩童進入教育的基本門檻，在貧窮地區許多父母為了維持生活割捨學費，甚至需要孩童輟學投入基礎勞力，才能滿足生活基本需求。教育並非當地人心中的首要需求，卻是能改變世代貧窮的唯一方式，因此送孩童回到學校的盼望開啟了第一個專案。
            </p>
            <p>
              進一步探勘後，我們驚訝地發現：孩子一個月600元台幣就能穩定生活，送孩子上學！我們下定決心送這些渴望學習的孩子重返學校！資助人計畫開啟於2015年6月，採用一對一資助的方式，每一場資助都是至少長達五年的陪伴！
            </p>
            <p>
              遠山呼喚目前與四所學校合作， 成功幫助超過百位失學孩童重返學校！從上學到翻轉生命的路十分漫長，若單只資助而沒有相對應的服務，孩子將舉步維艱。因此更多鋪設教育路途的專案隨之誕生。
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--3"></div>
        </div>
      </div>
      <div class="row learning-resources">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__photo about__photo--4"></div>
        </div>
        <div class="col s12 m7 ">
          <div class="clearfix">
            <div class="about__title h1 fBold">學習生態系介紹—學習資源<br>Learning Resources</div>
          </div>
          <div class="about__content">
            <p>
              第一次走進學校雜物室，我們發現國際非營利組織Room to Read捐贈的書籍，被堆積在雜物中生了灰，孩子若不明白使用圖書的方法，再多精美的書籍也無法激起閱讀興趣。許多學校並非缺乏資源，而是校方並不知道如何教導孩子使用資源，更不知道如何培養孩子們自主學習的習慣。
            </p>
            <p>
              我們不只將生了灰的房間變成一間圖書室，更教導全校學生查字典並書寫閱讀心得，校方因此在學校課程中加入了閱讀的課程。後來我們更合作設立了獎勵閱讀、公用圖書借還制度，慢慢讓閱讀成為生活中的習慣與享受。
            </p>
            <p>
              遠山呼喚在當地建立的兩間圖書室裡，已經建置超過800本在台灣募集的英文圖書。讓沒有錢的受災孩童，也能透過閱讀認識世界！
            </p>
          </div>
        </div>
      </div>
      <div class="row parental-involvement">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="clearfix">
            <div class="about__title h1 fBold">學習生態系介紹—親職參與<br>Parental Involvement</div>
          </div>
          <div class="about__content">
            <p>
              訪談的過程中，一位校長曾說：「許多學校的孩子並不知道學習的重要性，在家中無法繼續學習，更未曾規劃生涯。」在訪談父母的過程裡，我們更驚訝地發現：有90%的父母並不知道學生的在學狀況，更有許多家長不了解孩子未來的生涯選項。
            </p>
            <p>
              若沒有父母的了解與支持，學校教育將被傳統觀念掩蓋，「學習」怎麼帶給孩子長遠的幫助？
            </p>
            <p>
              2017 年 2 月開始，遠山呼喚在國外發起「尋人啟事」，尋找同樣是被資助長大，卻透過教育翻轉人生的「生命講者」，並邀請他們定期跟我們到偏鄉舉辦「親子講堂」。每個月孩童與父母都將集結在學校，由講者透過生命故事的訴說，分享教育如何改變自己的人生。
            </p>
            <p>
              一開始許多孩童父母一生從未受過教育，他們會稱學校為「對面的那座山」。現在，學校不再只是家長心中的一座山頭了，上學成為了孩子邁向未來的路。
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--5"></div>
        </div>
      </div>
      <div class="row incentive-cultivation">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__photo about__photo--6"></div>
        </div>
        <div class="col s12 m7 ">

          <div class="clearfix">
            <div class="about__title h1 fBold">學習生態系介紹—內在動機<br>Incentive Cultivation</div>
          </div>
          <div class="about__content">
            <p>
              『「你們以後要做什麼？」我隨口問道，那一剎那笑容從他們臉上消失，他們面面相覷，其中一位較年長的青年勉強擠出笑容「請不要問我以後的事。」我看見他們對於未來的許多無奈跟恐懼，遠勝過於對物質缺乏的害怕。』
            </p>
            <p>
              我們曾經在學校中進行一項調查，我們逐一請孩子們列出他們知道職業，並且驚訝的發現在貧窮的地區，孩子們平均只認識五種職業，皆是他們生活中能接觸到的人。我們深刻的感受到，孩子害怕想像未來，因此不敢為自己放手一搏。
            </p>
            <p>
              我們發現在孩子在學習路上，相信「未來能夠變得更好」的信念，是向前邁進的關鍵。透過生涯地圖的繪製體驗，我們帶領孩子大膽描繪未來，並且透過介紹歷史上的著名人士，帶孩子接觸不同職業。
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="clearfix">
            <div class="about__title h1 fBold">不只是評估機制—經濟研究</div>
          </div>
          <div class="about__content">
            <p>
              每個月遠山駐點志工團隊都將逐一家訪資助孩童，詳實記錄每一位孩子食衣住行等生活近況， 以及記錄孩子的學校出席率以及各項學業數據，這一年內我們已累積近千筆家訪報告。
            </p>
            <p>
              2016年7月遠山呼喚開始與台大經濟系林明仁教授、政大國發所蘇昱璇助理教授合作開啟長期經濟研究。此研究將協助我們釐清當地貧窮的根源，團隊將透過研究結果檢視服務成效，不斷擬定出最好的服務內容。
            </p>
            <p>
              我們期待透過經濟研究不斷優化學習生態系，並且將此系統用於更多國內外需要幫助的地區。目前開始提供大學社團、服務隊等短期志工管道協助，協助志工跳脫短期參與的循環，以長期專案模式，讓更好的學習環境永續存在於居民的生活中。
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--7"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m5">
          <div class="about__photo about__photo--8"></div>
        </div>
        <div class="col s12 m7 ">

          <div class="clearfix">
            <div class="about__title h1 fBold">未來計畫</div>
          </div>
          <div class="about__content">
            <p>
              <b>疊加專案影響力（overlap spheres of influence）</b><br>
              「疊加影響力」是建立學習生態系的核心思維，意指跳脫單一面向的服務項目，將親職參與、內在動機、學習資源等專案視為同一個單位，訂定全面性的目標並且創造專案間的交互價值。我們將持續創造系統的整體影響力，因為我們深信服務不只是單一面向的行動，更不是短暫的志工循環。
            </p>
            <p>
              <b>協助短期服務隊發展學習生態系</b><br>
              我們希望學習生態系能幫助更多國家的貧童，因此我們將致力於協助短期服務隊探勘問題，並且提供成功經驗以及研究成果，讓體驗式服務慢慢走向長期經營。我們也期待能夠建立志工資訊平台，帶領不同志工隊的經驗能夠互相交流。
            </p>
            <p>
              <b>推廣長期陪伴理念</b><br>
              「長期陪伴」是帶遠山呼喚走上旅途的信念，更是我們希望能分享的內心獨白。在許多孩子身上，我們看見他們對於未來的嚮往與大城市中的孩子並無差別，他們需要的是更多的陪伴與時間。
            </p>
            <p>
              我們希望能帶領更多服務者一起長期陪伴，讓孩子知道：未來夢想的路途，我們不會離開。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function () {
    $(window).resize(function () {
      if (!Modernizr.mq('(max-width: 600px)')) {
        $('.about__photo').each(function () {
          $(this).css('height', $(this).closest('.row').height());
        });
      };
    }).trigger('resize');
  });
</script>
<% end %>
