<section class="section">
  <div class="wrap">
    <div class="about">
      <div class="aboutUs h1 fBold">關於我們</div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__year h2 fBold">2015</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">成立</div>
            <div class="about__month h2 fBold">04</div>
          </div>
          <div class="about__content">
            <p>
              我們曾經參與過各地國際服務，結束短期服務，
              回國投入生活之後，我們發現自己並未帶來改變，
              孩子需要更長期而且不間斷的幫助！心中力不從心的感受使我們開始思考，
              什麼樣的服務才能為孩子帶來他們渴望的未來？
            </p>
            <p>
              2015年4月，遠山呼喚團隊因此集結在一起，
              開始用行動回應心中的重重疑慮。而就在當時，一場大地震的來襲，
              竟牽引著我們走入千里之外的尼泊爾震央......
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--1"></div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__photo about__photo--2"></div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__year h2 fBold">2015</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">前進震央</div>
            <div class="about__month h2 fBold">05</div>
          </div>
          <div class="about__content">
            <p>
              我們在大地震之後來到尼泊爾震央，當地的居民失去了房屋與心愛的人。
              這是一個距離首都六小時車程的山城，震後雨季來臨，居民卻只能擠在空地上的臨時帳篷中，
              生活十分困苦。三個月後，在聯合國與國際組織的共同努力之下，居民生活回歸穩定，
              提供急難救援的國際政府組織相繼離去，受災村民卻依然驚恐且不知所措。
              除了物質缺乏，當地竟出現大批輟學兒童，孩子再也付不出學費，
              被迫離開學校。然而此時此刻的他們卻更需要教育，因為上學是他們改變未來唯一的機會。
              看著孩子失去與未來的連結，我們決定留下來，陪村民尋找一條走出震央的道路。
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__year h2 fBold">2015</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">資助人計畫</div>
            <div class="about__month h2 fBold">06</div>
          </div>
          <div class="about__content">
            <p>
              再進一步探勘後，我們驚訝地發現：孩子一個月所需的教育資助金是600元台幣！
              我們下定決心送這些渴望學習的孩子重返學校！如果教育是窮人們的「異途」，
              我們想要陪他們一起走…。資助人計畫開啟於2015年6月，每一場資助都是至少長達五年的陪伴！
            </p>
            <p>
              在重災區的兩所學校裡，輟學比率竟高達三分之一；一年來遠山呼喚與兩所學校合作，
              成功幫助所有失學孩童重返學校！從上學到翻轉生命的路十分漫長，若單只資助而沒有相對應的服務，
              孩子將舉步維艱。因此一個為當地鋪設教育路途的長年計畫隨之誕生......
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--3"></div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__photo about__photo--4"></div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__year h2 fBold">2015</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">極光計畫</div>
            <div class="about__month h2 fBold">07</div>
          </div>
          <div class="about__content">
            <p>
              孩子們回到學校了，他們旅途才正要開始，
              為了讓復學的孩子獲得良好的教育資源，我們於2015年7月創立極光計畫，
              致力於培訓第一線的工作人員。
            </p>
            <p>
              服務不是先入為主的短期知識灌輸，更不是由上而下，斷斷續續的物質給予。
              從每個月在山裡跋涉進行家庭訪問，到帶著上百本書跨海建立圖書館，極光計畫所做的，
              是為長期教育先行鋪路。當孩子面臨困難時，極光計畫將扮演陪伴者的角色，與孩子一同成長。
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__year h2 fBold">2016</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">圖書館</div>
            <div class="about__month h2 fBold">02</div>
          </div>
          <div class="about__content">
            <p>
              第一次走進學校雜物室，我們發現國際非營利組織Room to Read捐贈的書籍，
              被堆積在雜物中生了灰。孩子若不明白使用圖書的方法，再多精美的書籍也無法激起閱讀興趣。
            </p>
            <p>
              我們不只將生了灰的房間變成一間圖書室，更教導全校學生查字典、書寫閱讀心得；
              校方因此在學校課程中加入了閱讀的課程，更與遠山呼喚共同更設立了公用圖書的借還制度，
              慢慢帶領孩子走進閱讀的世界。
            </p>
            <p>
              遠山呼喚在當地建立的兩間圖書室裡，已經建置超過800本在台灣募集的英文圖書。沒有錢的受災孩童，也能透過閱讀認識世界！
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--5"></div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__photo about__photo--6"></div>
        </div>
        <div class="col s12 m7 ">

          <div class="about__year h2 fBold">2016</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">群眾集資</div>
            <div class="about__month h2 fBold">06</div>
          </div>
          <div class="about__content">
            <p>
              2016年6月，遠山呼喚在國內群眾集資平台上發起「帶150位孩子重返學校」的集資活動。
              當時，我們獲得了許多媒體以及大眾的關注，並且在21天之內提早達成120萬的目標。
            </p>
            <p>
              這筆來自台灣的愛心成為了震央村民重新站起來的力量。當時尼泊爾剛經歷強震，
              震央廓爾喀首當其衝，居民生活在臨時鐵皮屋之下，忍受著無數餘震。震後學校變成了瓦礫堆，
              然而每天早上，學校外面的空地仍會傳出孩子朗讀書籍的聲音。
            </p>
            <p>
              若您是當時的贊助者，我們想跟你說：「因為你們的參與，孩子從來沒有放棄自己！」
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="next"></div>
        <div class="col s12 m5">
          <div class="about__year h2 fBold">2016</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">經濟研究</div>
            <div class="about__month h2 fBold">07</div>
          </div>
          <div class="about__content">
            <p>
              每個月遠山駐點志工團隊都將逐一家訪資助孩童，詳實記錄每一位孩子食衣住行等生活近況，
              以及記錄孩子的學校出席率以及各項學業數據，這一年內我們已累積近千筆家訪報告。
            </p>
            <p>
              2016年7月遠山呼喚開始與台大經濟系林明仁教授、政大國發所蘇昱璇副教授合作，
              在廓爾喀地區開啟長期經濟研究。此研究將協助我們釐清當地貧窮的根源，團隊將透過研究結果檢視服務成效，
              不斷擬定出最好的服務內容。
            </p>
          </div>
        </div>
        <div class="col s12 m7 ">
          <div class="about__photo about__photo--7"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m5">
          <div class="about__photo about__photo--8"></div>
        </div>
        <div class="col s12 m7 ">

          <div class="about__year h2 fBold">2017</div>
          <div class="clearfix">
            <div class="about__title h2 fBold">對面那座山的親子講堂</div>
            <div class="about__month h2 fBold">02</div>
          </div>
          <div class="about__content">
            <p>
              與校長對談的過程中，校長曾說：「許多學校的孩子並不知道學習的重要性 回到家後也不會複習，更未曾規劃生涯。」在訪談父母的過程裡，
              我們更驚訝地發現：有90%的父母並不知道學生的在學成績，更有許多家長不了解孩子未來的生涯選項。若沒有父母的了解與支持，學校教育將被傳統觀念掩蓋，
              「上學」怎麼帶給孩子長遠的幫助？
            </p>
            <p>
              在遠山呼喚逐家探訪的努力下，2017年2 月開始，每個月孩童與父母都將集結在學校，
              由尼泊爾講者透過生命故事的訴說，分享教育如何改變自己的人生。然而許多孩童父母一生從未受過教育，他們會稱學校為「對面的那座山」。
              學校，何嘗只是一座山？去上學是一條通往未來的路。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function () {
    $(window).resize(function () {
      if (!Modernizr.mq('(max-width: 600px)')) {
        $('.about__photo').each(function () {
          $(this).css('height', $(this).closest('.row').height());
        });
      };
    }).trigger('resize');
  });
</script>
<% end %>
