<section class="main">
  <div class="banner banner--aurora">
    <div class="banner__title">極光計畫</div>
  </div>
  <section class="section">
    <div class="wrap">
      <div class="auroraIntro">
        <div class="auroraIntro__title">翻轉寂寞震央</div>
        <div class="auroraIntro__content">
          <p>
            當孩子們接受資助重返學校，他們便踏上了一條漫長的逐夢旅途，有人說這是一條窮人的「異途」，
            途中有著許多艱難的挑戰。因此極光計畫成立，像是提前為孩子鋪路，減少路上的崎嶇。極光出現於漆黑的夜色之中，
            大地震後成立於震央的極光計畫，希望在村民最黑暗的時刻，一步一步帶領他們翻轉震央。
          </p>
        </div>
        <div class="auroraIntro__cover">
          <%= image_tag 'aurora__photo.png' %>
        </div>
        <div class="auroraIntro__title">計畫領域與思維模式</div>
        <div class="auroraIntro__content">
          <p>
            極光計畫耕耘於四大領域：教育資源、孩童建檔、家庭教育、生活知識，
            每個議題又分別設有不同程度的里程碑。而極光計畫是一個為當地「持續解決問題」的過程，
            我們依循專業解決問題思維（problem solving method）進行服務。我們十分重視每一屆服務的「延續性」，
            並堅持從當地需求出發訂定計畫內容。
          </p>
        </div>
      </div>
      <div class="auroraModel">
        <%= image_tag 'auroraModel.png' %>
      </div>
      <div class="auroraVolunteer">
        <div class="auroraVolunteer__text">
          <div class="auroraVolunteer__title">
            成為不害怕說再見的志工吧!
          </div>
          <div class="auroraVolunteer__content">
            <p>
              當服務不再斷斷續續，而是長期朝同一方向邁進。
              每一位極光志工的努力將不會隨時間、距離消逝，
              而是不斷累積成足以改變當地的能量。對我們來說，
              道別的時刻便是下一群志工持續幫助孩子的開始！
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="wrap">
      <div class="section__container">
        <div class="title title--yellow">志工招募</div>
        <div class="h2 fBold">
          <p>
            極光計畫每年都在寒暑期招募國際志工前往震央，
            我們鼓勵志工跳脫被動的服務型態，透過與村民的互動主動思考當地問題。
            每一屆極光計畫承接先前志工的行動，內容也將因為參與者的觀察向前邁進。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="wrap">
      <div class="section__container">
        <div class="title title--yellow">參與要求</div>
        <ul class="auroraRequire row">
          <li class="col s4 m4">
            <div class="up">16 - 30歲</div>
            <div class="down">青年參與</div>
          </li>
          <li class="col s4 m4">
            <div class="up">
              15<i class="plus">+</i> 天
            </div>
            <div class="down">寒暑假出隊</div>
          </li>
          <li class="col s4 m4">
            <div class="up">4<i class="plus">+</i> 月</div>
            <div class="down">行前籌備訓練</div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="wrap">
      <div class="section__container">
        <div class="title title--yellow">志工特質</div>
        <div class="h2 fBold tac">
          <p> 具有同理心<br>且不只想成為跟隨者</p>
          <p>勇於嘗試<br>樂於冒險<br>慣於改變</p>
          <p>希望成為改變孩子、<br>提升計畫的動力之一</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="wrap">
      <div class="section__container">
        <div class="title title--yellow">報名流程</div>
        <div class="auroraProcess">
          <%= image_tag 'process--aurora.png' %>
        </div>
      </div>
    </div>
  </section>
  <div class="banner banner--aurora2">
    <div class="banner__title">
      <p>成為不怕說再見的志工</p>
    </div>
    <div class="banner__link">
      <a href="#" class="btn btn--rev h4">看報名詳情</a>
    </div>
  </div>
</section>

<% content_for :javascript do %>
<script>
  $(function () {
    $(window).resize(function () {
      var ww = $(window).width(),
      wh = $(window).height(),
      hh = $('.header').outerHeight();
      $('.banner').width(ww).height(wh - hh);

    }).trigger('resize');
  });
</script>
<% end %>