<!-- <div class="container index-slider-gray-container">

</div> -->

<% content_for :cover do %>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-12">
	</div>
</div>
<div class="row">
	<div class="col-md-8 margin-top30">
	</div>

	<div class="col-md-4 post-panel margin-top30">
	</div>

<div class="col-md-4 post-panel">
</div>
