<% content_for :cover do %>
	<div class="panel-header padding-top20">
			<h4><%= @tag.name_zh %></h4>
		</div>
	<%= render partial: "partials/issue_cover_layout", locals:{ cover: @posts[0..2] } %>
<% end %>

<div class="row">
	<div class="section-wrapper">
		<%= render partial: "partials/tag_post", collection: @posts %>
	</div>
</div>