# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6fb212ed6aed10113514db17d2bd8bacc4295ba4e5fb893224489b5f577fde9c979dde9bb7d23eb24c047dea5348953dd311b89302eda07cc5937a11136ddb71

test:
  secret_key_base: 54d8e523ddb514d1bd18bb5307c70a06dd588b107ec0fb5f72ee730e5c4d4ce38f8236ea00698398f023c2f17b9b4a12cad5a0a5c62e17dcb6e65768e01470c2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
