<section class="section memberPage">
	<div class="wrap wrap--s"">
		<div class="title title--red">贊助資料</div>
		<table class="table table--red">
			<tr>
				<th>贊助招募日期</th>
				<th>贊助繳款日期</th>
				<th>贊助收據狀態</th>
			</tr>
			<tr>
				<td><%= "第 #{((@user.support_date - '2016/06/01'.to_datetime) / 6.month).to_i + 1} 屆" %></td>
				<td><%= @user.paid_at.strftime("%Y/%m/%d") %></td>
				<td>
					<ul class="list">
						<li><%= @user.receipt_state %></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</section>