<%= form_tag(admin_mass_update_import_path, method: "post", multipart: true) do %>

<%= file_field_tag :file %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= submit_tag "送出" %>

<% end %>
<br>
<h3>檔案請按照底下欄位順序：</h3>
<p>欄位名稱並無影響～</p>
<table>
  <tr class="blue">
    <td>Update Year（更新之年份，請用數字～）</td>
    <td>Update Month（更新之月份，請用數字～）</td>
  	<td>Aurora Number of the Kid.</td>
  	<td>School</td>
  	<td>Grade (year)</td>
  	<td>The attendance of the kid (%)</td>
  	<td>Reading reports of this months </td>
  	<td>The grade of this term (%)</td>
  	<td>Monthly Income of the family (Rp.)</td>
  	<td>Heights  (cm)</td>
  	<td>Weights (kg)</td>
  	<td>Daily Study Hour (in average)</td>
  	<td>A brief sentence about the kids' condition 約 50-100 字左右</td>
  </tr>
</table>
