<h2>請確認匯入資料欄位是否相符（藍色為系統欄位，綠色為匯入excel之欄位）：</h2>
<%= link_to '返回', admin_mass_update_path, class: 'button gray' %>
<%= link_to "確認匯入", admin_mass_update_confirm_import_path, class: 'button' %>
<br>
<br>
<table>
<tr class="blue">
	<td>Update Year（更新之年份，請用數字～）</td>
	<td>Update Month（更新之月份，請用數字～）</td>
	<td>Aurora Number of the Kid.</td>
	<td>School</td>
	<td>Grade (year)</td>
	<td>The attendance of the kid (%)</td>
	<td>Reading reports of this months </td>
	<td>The grade of this term (%)</td>
	<td>Monthly Income of the family (Rp.)</td>
	<td>Heights  (cm)</td>
	<td>Weights (kg)</td>
	<td>Daily Study Hour (in average)</td>
	<td>A brief sentence about the kids' condition 約 50-100 字左右</td>
</tr>
<% (@raw_list.first_row..@raw_list.last_row).each do |i| %>
<tr class="<% if i==1 %>green<%end%>">
	<% @raw_list.row(i).each do |td| %>
	<td><%=td%></td>
	<% end %>
</tr>
<% end %>

</table>
