<div class="side-panel-header">
	<h4>關於我們</h4>
</div>
<div class="side-panel-body margin-top15">
	<p>
	關於夢想，一個人實踐，很怪，一百個人一起，會帶動一股遍地開花的風潮。 我們相信彼此看到彼此還在實踐夢想這條路上走著， 不管用什麼方式帶來改變，就算是加一點能量也好。 決定開始，就這一刻。</p>
	<p class="text-right">
	<button type="button" class="btn btn-azure text-right">看更多</button>
	</p>
</div>
