.post-grid {
	display: inline-block;
	width: 300px;
	height: 300px;
	h5 {
		text-align: center;
	}
}

td>img, td>video {
	width: 50%;
}
.red {
	color: red;
}
tr.green{
	color: green;
	td{
		font-weight:bold;
	}
}
tr.blue{
	color: blue;
	td{
		font-weight:bold;
	}
}

form input[type=submit], a.button, a:link.button, a:visited.button, a:hover.button{
	&.gray {
		background-color: #aaa !important;
	}
}
