.post-grid {
	display: inline-block;
	width: 300px;
	height: 300px;
	h5 {
		text-align: center;
	}
}

td>img {
	width: 50%;
}

tr.green{
	color: green;
	td{
		font-weight:bold;
	}
}
tr.blue{
	color: blue;
	td{
		font-weight:bold;
	}
}