@charset "UTF-8";
html {
  background: #fff;
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap--s {
  max-width: 800px;
  margin: auto;
}

.main {
  position: relative;
  padding-top: 75px;
}

body {
  /*2017/03/11拿掉start*/
  /*&.menu--on {
  	width: 100%;
  	height: 100%;
  	position: fixed;
  }*/
  /*2017/03/11拿掉end*/
}
body.indexHide .header {
  top: -75px;
}

/* ==========================================================================
   Header
   ========================================================================== */
.header {
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  transition: top .5s;
}
.header__logo {
  height: 75px;
  display: block;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 20px;
}
.header__logo img {
  height: 75px;
}
.header__toggle {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 99;
  display: none;
}
.header__toggle .burger {
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  left: 20px;
  top: 35px;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.header__toggle .burger:before {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 30px;
  height: 3px;
  top: -10px;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.header__toggle .burger:after {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 30px;
  height: 3px;
  top: 10px;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.menu--on .header__toggle .burger {
  transform: rotate(135deg);
}
.menu--on .header__toggle .burger:before {
  transform: rotate(90deg) translate(10px, 0px);
}
.menu--on .header__toggle .burger:after {
  transform: rotate(180deg) translate(0px, 10px);
}
.menu--on .main::after {
	content: '';
	background: rgba(0,0,0,.8);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.header__menu {
  display: block;
}
.logIn .header__menu {
  float: left;
}
.header__member {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.header .menu__nav {
  float: left;
  margin: 0;
  padding: 0;
}
.header .menu__nav li {
  float: left;
  list-style: none;
  padding: 25px 15px;
}
.header .menu__nav li a {
  padding: 20px 0;
  color: #333;
  font-weight: bold;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  box-sizing: border-box;
}
.header .menu__nav li a:hover {
  border-top: 2px solid #003471;
  border-bottom: 2px solid #003471;
  padding: 8px 0;
}
.header .menu__member {
  float: right;
  margin: 0;
  padding: 0;
}
.logIn .header .menu__member {
  display: none;
}
.header .menu__member li {
  float: left;
  list-style: none;
}
.header .menu__member li a.btn {
  margin: 19px 10px;
}
.header i,
.header [class^="mdi-"], .header [class*="mdi-"],
.header i.material-icons {
  display: block;
  font-size: 24px;
}
.header .dropdown-button {
  font-size: 1rem;
  color: #000;
  display: block;
  padding: 27px 40px;
  cursor: pointer;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  border-top: 5px solid #003471;
  text-align: center;
  background: #333;
  font-size: 14px;
}
.footer .wrap {
  display: table;
  width: 100%;
}
.footer__logo {
  width: 25%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.footer__logo img {
  width: 100px;
}
.footer__copyright {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding-bottom: 30px;
  padding-top: 45px;
}
.footer__copyright > div {
  font-size: 14px;
  margin-top: 5px;
  color: #aaaaaa;
}
.footer__copyright > div:first-of-type {
  margin-top: 0;
}
.footer__socialLink {
  padding-bottom: 30px;
  padding-top: 45px;
  width: 25%;
  vertical-align: middle;
  display: table-cell;
}
.footer__socialLink a {
  margin: 0 5px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (max-width: 1000px) {
  .wrap {
    width: 100%;
  }

  /* ==========================================================================
     Header
     ========================================================================== */
  .header .wrap {
    text-align: center;
  }
  .header__menu {
    position: fixed;
    width: 80%;
    left: -100%;
    height: 100%;
    margin: 0;
    z-index: 999;
    background: #003471;
    transition: .3s ease;
  }
  .menu--on .header__menu {
    left: 0;
    transition: .3s ease;
  }
  .header__menu .menu__nav {
    float: none;
  }
  .header__menu .menu__nav > li {
    width: 100%;
    text-align: center;
  }
  .header__menu .menu__nav > li a {
    color: #fff;
    border: none;
    font-size: 18px;
  }
  .header__menu .menu__nav > li a:hover {
    border: none;
  }
  .header__menu .menu__member {
    float: none;
  }
  .header__menu .menu__member > li {
    width: 100%;
    text-align: center;
  }
  .header__menu .menu__member > li a {
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
  }
  .header__logo {
    float: none;
    display: inline-block;
  }
  .header__toggle {
    display: block;
  }
  .header .dropdown-button {
    padding: 27px 20px;
  }
  .header .dropdown-button i.right {
    margin-left: 5px;
  }

  /* ==========================================================================
     Footer
     ========================================================================== */
  .footer {
    padding-top: 20px;
  }
  .footer__logo {
    display: block;
    text-align: center;
    width: 100%;
  }
  .footer__copyright {
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  .footer__socialLink {
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  /* ==========================================================================
     Menu
     ========================================================================== */
  /* ==========================================================================
     Hide items
     ========================================================================== */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* ==========================================================================
     Header
     ========================================================================== */
  /* ==========================================================================
     Footer
     ========================================================================== */
  /* ==========================================================================
     Menu
     ========================================================================== */
}
