@media screen and (max-width: 770px) {
  .recommend figure:hover img {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .recommend figure figcaption {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    top: 0;
    height: auto;
  }
  .recommend figure figcaption a {
    display: block;
    text-indent: -99999px;
    font-size: 0;
    border: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .recommend figure figcaption a:hover{
    background: transparent;
    transition: inherit;
  }
  .recommend figure figcaption .mainTitle {
    text-align: center;
    font-size: 14px;
  }
  .recommend figure figcaption .subTitle {
    display: none;
  }
  .scrollDown {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .header .dropdown-button {
		padding: 27px 10px;
		min-width: 130px;
	}

  .gridHalf li {
    list-style: none;
    float: none;
    width: 100%;
  }

  .login {
    min-height: 500px;
  }

  .title:before, .title:after {
    width: 30px;
    margin: 0 20px;
  }
  .modal .title {
    text-align: left;
    border-left: 3px solid #990033;
    padding-left: 10px;
  }
  .modal .title:before, .modal .title:after {
    content: none;
  }

  .recordPopup {
    padding: 25px;
  }
  .recordPopup__left {
    float: left;
    width: 100%;
    padding: 10px;
  }
  .recordPopup__right {
    float: left;
    width: 100%;
  }

  .response > li {
    width: 100%;
    margin: 20px 0;
  }

  .banner__title {
    font-size: 24px;
  }

  .about__title.h1 {
    font-size: 24px;
  }

  .sponseIdeal__left {
    width: 100%;
    height: 200px !important;
  }
  .sponseIdeal__mid {
    width: 100%;
  }
  .sponseIdeal__right {
    width: 100%;
    height: 200px !important;
  }

  .sponseOrigin {
    margin-bottom: 0;
  }
  .sponseOrigin__title {
    width: 100%;
    padding: 30px 20px 50px 20px;
    font-size: 20px;
  }
  .sponseOrigin__title:after {
    transform: rotate(-10deg) skewX(80deg);
  }
  .sponseOrigin__article {
    top: 0;
    padding: 0 20px;
    width: 100%;
  }
  .sponseOrigin__photo {
    top: 0;
    width: 100%;
    left: 0;
  }
  .sponseOrigin__photo img {
    width: 50%;
  }
  .sponseOrigin__photo:after {
    -webkit-transform: rotate(-15deg) skewX(-10deg);
    -ms-transform: rotate(-15deg) skewX(-10deg);
    transform: rotate(-8deg) skewX(-10deg);
  }

  .blogBanner {
    padding: 20px 0;
  }
  .blogBanner ul > li {
    width: 100%;
  }
  .blogBanner ul > li:first-of-type {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .blogTab .tabs {
    display: none;
  }
  .blogTab .blogTab__mobile {
    display: block;
    padding: 0 50px;
  }

  .auroraVolunteer__text {
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    margin-left: 0;
    background: rgba(255, 255, 255, 0.5);
  }

  .auroraRequire > li.col .up {
    font-size: 20px;
  }
  .auroraRequire > li.col .down {
    font-size: 16px;
  }

  .auroraModel__title {
    float: left;
    display: block;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    padding: 13px 0;
    text-align: left;
  }
  .auroraModel__table .divRow {
    display: block;
  }
  .auroraModel__table .number {
    float: left;
    display: block;
    font-size: 40px;
    font-weight: bold;
    width: 20%;
  }
  .auroraModel__table .content {
    clear: left;
    display: block;
    padding: 20px;
    text-align: left;
    width: 100%;
  }

	.auroraModel img {
		width: 100%;
	}

  .indexVideo {
    position: relative;
    display: block;
  }
  .indexVideo__text {
    position: absolute;
    top: 40%;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    color: #003471;
    text-align: center;
    letter-spacing: 5px;
  }
  .indexVideo:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #003471;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 0;
    left: 5px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  .indexVideo:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #003471;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }

  .indexAurora__photo {
    width: 40%;
  }
  .indexAurora__title {
    width: 60%;
    padding-top: 10px;
    font-size: 16px;
  }
  .indexAurora__content {
    width: 60%;
    font-size: 14px;
    margin-top: 0;
    padding: 10px 20px;
  }

  .indexSponse__photo {
    width: 40%;
  }
  .indexSponse__title {
    font-size: 16px;
    margin-top: 10px;
    padding-top: 0;
    width: 60%;
  }

  .indexSponse__content {
    width: 60%;
    margin-top: 0;
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 650px) {
  .processLine > li .breakLine {
    display: inline;
  }
  .processLine > li:before {
    top: 65px;
  }
  .processLine > li:after {
    top: 60px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1920px) {
  .indexAurora__content {
    margin-top: 8%;
  }

  .indexSponse__content {
    margin-top: 8%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .indexAurora__content {
    margin-top: 2%;
    font-size: 14px;
  }

  .indexSponse__content {
    margin-top: 2%;
    font-size: 14px;
  }
}
