.custom-navbar{
	min-height: 100px;
	/*padding-top:10px;*/
  background: #fff;
  border: none;
}

/*.navbar-header{
	width: 100%;
}*/

.navbar-link-padding{
	margin-top: 40px;
}



.nav.custom-nav.white-text li a {
	color: #fff;
	padding: 8px 24px 4px 24px;
	transition: all .2s ease-in-out;
	&:hover{
		color:#fff;
		opacity:.8;
	}
}

.nav.custom-nav{
	padding-left:50px;
}

.nav.custom-nav li.active a{
	color:white;
	background: none;
	border-bottom: 10px solid white;
	&:hover{
		background:none;
		color:#fff;
		opacity:.8;
	}
		;
}


.navbar-brand > img {
	width: 220px;
	/*box-shadow: 0px 0px 15px;*/
}

.navbar-fill{
	width: 100%;
    height: 36px;
    position: absolute;
    margin-top: 40px;
    z-index: -1;
}

.azure-bg{
	background-color: #007BF7;
}

.azure-text{
	color: #0077FB;

	&.powered-by h6 {
		margin-bottom: 0px;
		small{
			color:#0077FB;
			font-style: italic;
			margin-bottom: 0px;
		}
	}
}



.white-text{
	color: white;
}




.page-wrapper{
	margin-top: 80px;
}

.navbar-form.custom-navbar-form{
	margin-top: 3px;
}

.search-bar-form-group{
	color: #fff;
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #fff;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #fff;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    #fff;
	}
	.custom-search-box{
	height: 30px;
	background: transparent;
	color: #fff;
	}
}

.navbar-slogan{
	display: block;
	float:left;
	margin-left: -10px;
	margin-top: -20px;
}

.navbar-logo{
	display: block;
	float:left;
	margin-left: -60px;
	margin-top: -46px;
	img{
		height:20px;
	}
}
.powered-by-text{
	font-style: italic;
}

.footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  width: 100%;
  padding:15px;
  margin-bottom: -20px;
  /* Set the fixed height of the footer here */
  height: 90px;
  color: #fff;
  background-color: #717071;

  img{
  	height: 23.5px;
  }

}

.footer-white-links a{
	color:#fff;
}
