.container-gray-section{
	padding:0px;
	background: #F7F7F7;
}

.content-container{
	margin-top:20px;
	min-height:80vh;
}

.custom-navbar{
  min-height: 76px;
	/*padding-top:10px;*/
  background: #fff;
  border: none;
}

/*.navbar-header{
	width: 100%;
}*/

.navbar-link-padding{
	margin-top: 40px;
}



.nav.custom-nav.white-text li a {
	color: #fff;
	padding: 8px 24px 4px 24px;
	transition: all .2s ease-in-out;
	&:hover{
		color:#fff;
		opacity:.8;
	}
}

.nav.custom-nav{
	padding-left:50px;
}

.nav.custom-nav li.active a{
	color:white;
	background: none;
	border-bottom: 4px solid white;
	&:hover{
		background:none;
		color:#fff;
		opacity:.8;
	}
		;
}


.navbar-brand > img {
	width: 220px;
	/*box-shadow: 0px 0px 15px;*/
}

.navbar-fill{
	width: 100%;
    height: 36px;
    position: absolute;
    margin-top: 40px;
    z-index: -1;
}

.azure-bg{
	background-color: #007BF7;
}

.azure-text{
	color: #0077FB;

	&.powered-by h6 {
		margin-bottom: 0px;
		small{
			color:#0077FB;
			font-style: italic;
			margin-bottom: 0px;
		}
	}
}



.white-text{
	color: white;
}

.container-margin-top-nav{
	margin-top: 76px;
}

.page-wrapper{
	margin-top: 20px;
}

.navbar-form.custom-navbar-form{
	margin-top: 3px;
	margin-bottom:0px;
}

.search-bar-form-group{
	color: #fff;
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #fff;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #fff;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    #fff;
	}
	.custom-search-box{
	height: 30px;
	background: transparent;
	color: #fff;
	}
}

.navbar-slogan{
	display: block;
	float:left;
	margin-left: -10px;
	margin-top: -20px;
}

.navbar-logo{
	display: block;
	float:left;
	margin-left: -60px;
	margin-top: -46px;
	img{
		height:20px;
	}
}
.powered-by-text{
	font-style: italic;
}

.footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  width: 100%;
  padding:15px;
  margin-bottom: -20px;
  /* Set the fixed height of the footer here */
  height: 90px;
  color: #fff;
  background-color: #717071;

  img{
  	height: 23.5px;
  }

}

.footer-white-links a{
	color:#fff;
}

.margins{
	margin: 10px 0;
}

.large-margins{
	margin: 30px;
}

.panel-header{
	border-bottom: 1px solid #0077fb;
	padding-left: 15px;
	h4{
		font-size:22px;
	}
}

.panel-body{
	img{
		width: 100%;
		height: auto;
	}
}

.small-post-height{
	min-height: 60px;
}

.col-issue-cover{
	margin-top: 20px;
	.issue-cover-bg-img{
		height:400px;
		position: relative;
		img{
			width:100%;
		}
	}
	.issue-cover-small-bg-img{
		height:190px;
		position: relative;
		img{
			width:100%;
		}
	}
	&.col-issue-cover-left{
		height:400px;

	}
	&.col-issue-cover-right{
		height:200px;
	}
}
.issue-cover-title{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55px;
	padding: 0 10px;
}
.red-text{
	color: #F77F7F;
}
.gray-text{
	color: #B9B9B9;
}
.dark-gray-text{
	color: #717079;
}
.white-text{
	color: white
}
.issue-cover-title-left{
	height: 110px;
}
.black-bg-with-opacity{
	background: rgba(0,0,0,0.6);
}
.issue-post-title{
	&.issue-post-title-left{
		height:50px;
	}
}
.tag-post-pic{
	width: 100%;
	height: auto;
}
.section-wrapper{
	margin-top: 80px;
}
.content-cover{
	position: relative;
	img{
	width: 100%;
	height: auto;
	}
}

.fr-view{
	img{
		max-width: 100%;
	}
}

.panel-stick-right{
	position: fixed;
	top: 120px;
    left: 0;
    width: 100%;
}

.col-post-grid{
	h4{
		font-size:14px;
	}
	span{
		font-size:10px;
	}
}