.custom-navbar{
	min-height: 90px;
    background: #fff;
    border: none;
}

/*.navbar-header{
	width: 100%;
}*/

.navbar-link-padding{
	margin-top: 40px;
}


.white-text{
	color: white;
}

.nav.custom-nav.white-text li a {
	color: #fff;
	padding: 8px 24px 4px 24px;
	transition: all .2s ease-in-out;
	&:hover{
		color:#fff;
		opacity:.8;
	}
}

.nav.custom-nav{
	padding-left:50px;
}

.nav.custom-nav li.active a{
	color:white;
	background: none;
	border-bottom: 10px solid white;
	&:hover{
		background:none;
		color:#fff;
		opacity:.8;
	}
		;
}


.navbar-brand > img {
	width: 220px;
	/*box-shadow: 0px 0px 15px;*/
}

.navbar-fill{
	width: 100%;
    height: 36px;
    position: absolute;
    margin-top: 40px;
    z-index: -1;
}

.azure-bg{
	background-color: #007BF7;
}

.azure-text{
	color: #0077FB;
}

.page-wrapper{
	margin-top: 80px;
}

.navbar-slogan{

	display: block;
	float:left;
	margin-left: -10px;
	margin-top: -20px;
}