親愛的 <%= "#{@resource.name} (#{@resource.email})" %>

<p>你在遠山呼喚的平台上點選了「忘記密碼」按鈕， <br>
請點選以下網址，連結回平台進行密碼重設喔！ </p>

<p><%= link_to '重設密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你本人沒有按下忘記密碼按鈕，請立即來信與我們聯繫。<br>
如果沒有回平台進行密碼重設，密碼將不會更動！</p>