<footer class="footer">
  <div class="container">
    <div class="row">
    	<div class="col-sm-3">
    		<span class="powered-by-text">Powered by</span><br>
    		<img class="logo-footer" src=" <%= asset_path("aiesec_white_logo.png") %> ">
    	</div>
    	<div class="col-sm-9 footer-white-links">
    		<a href="http://www.aiesec.org.tw" target="_blank">AIESEC 臺灣官網</a>｜
    		<a href="http://www.facebook.com/AIESECTW" target="_blank">AIESEC 臺灣粉絲專頁</a>｜
    		<!-- TODO confirm link -->
    		<a href="#"></a>關於夢想實驗室｜
    		<a href="#"></a>關於AIESEC｜<br>
			108臺北市萬華區康定路229號4樓｜ +886 2 2306 9472 ｜taiwan@aiesec.net <br>
			社團法人國際經濟商管學生會臺灣總會 版權所有　AIESEC in Taiwan ©All rights reserved
    	</div>
    </div>
  </div>
</footer>