<footer class="footer">
  <div class="wrap clearfix">
    <%= link_to root_path, class: "footer__logo" do %>
      <%= image_tag 'logo-white-big.png' %>
    <% end %>
    <div class="footer__copyright">
      <div>Copyright CallsoverRidges. All rights reserved.</div>
      <div>Since 2015, Taipei</div>
    </div>
    <div class="footer__socialLink">
      <a href="#" class="icon iSocial__fb"></a>
      <a href="#" class="icon iSocial__mail"></a>
    </div>
  </div>
</footer>