<footer class="footer">
  <div class="wrap clearfix">
    <a href="../index.html" class="footer__logo">
      <img src="../Content/images/LOGO.png" />
    </a>
    <div class="footer__copyright">
      <div>Copyright CallsoverRidges. All rights reserved.</div>
      <div>Since 2015, Taipei</div>
    </div>
    <div class="footer__socialLink">
      <a href="#" class="icon iSocial__fb"></a>
      <a href="#" class="icon iSocial__mail"></a>
    </div>
  </div>
</footer>