<nav class="navbar navbar-default navbar-fixed-top custom-navbar">
<div class="navbar-fill azure-bg"></div>
  <div class="container">
	<div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
        <img alt="夢想實驗室" src=" <%= asset_path('lab_logo.png') %> ">
      </a>
      
    </div>

    <div class="collapse navbar-collapse navbar-link-padding" id="bs-example-navbar-collapse-1">
    <div class="navbar-slogan azure-text">激發做夢與實踐的DNA</div>
    <!-- TODO 把li.a改成tag.find(?).title之類的 -->
      <ul class="nav navbar-nav custom-nav white-text">
        <li class="active"><a href="<%= root_path %>">首頁 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">背包客x志工故事</a></li>
        <li><a href="#">創業x實習趨勢</a></li>
        <li><a href="#">青年發聲</a></li>
        <li><a href="#">關於我們</a></li>        
      </ul>
      <div class="navbar-logo azure-text powered-by">
      	<h6><small>Powered by</small></h6>
      	<img src="<%= asset_path('aiesec_blue_logo') %>" alt="AIESEC">
      </div>
		<form class="navbar-form navbar-left custom-navbar-form" role="search">
        <div class="form-group search-bar-form-group">
          <input type="text" class="form-control custom-search-box" placeholder="搜尋">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>


    </div><!-- /.navbar-collapse -->

  </div>
</nav>